
@import './vars.scss';

.colour5{background:$darker2;}

.heading {
  font-weight: 600;
}


#app {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  background: #ffffff;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 10px;

  .sequencer {
    flex: 1 1;
    padding: 0px;
    margin: 20px;
    border-radius: 10px;
    background: #ffffff;
    border: 1px solid rgba(0,0,0,0.05);
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.05);
  }

  h1,h2,h3,h4 {
    color: $darker2;
    text-shadow: 2px 2px rgba(0,0,0,0.1);
  }

  input {
    display: inline-block;
    border-radius: 4px;
    padding: 2px;
    background: $base;
    outline: none;
    border: none;
    font-size: 14px;
    &:focus {
      box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.1);
    }
  }
 select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;  
    width: 100%;
    background: $base;
    padding-left: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    cursor: pointer;
    //box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);
    border-radius: 3px;
    outline: none;
  }
  .button {
    display: inline-block;
    cursor: pointer;
    padding: 8px;
    color: $base;
    border-radius: 4px;
    font-weight: 600;
    font-size: 30px;
    text-transform: uppercase;
  }
  .icon-button {
    display: inline-block;
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;
    font-size: 30px;
    font-weight: 600;
    color: $darker2;
    transition: all 0.5s ease-in-out;
    transform: scale(1);
    position: relative;
    .text {
      font-size: 14px;
      width: auto;
      white-space: nowrap;
      position: absolute;
      text-align: center;
      display: none;
    }
    &:hover {
      text-shadow: 2px 2px rgba(0,0,0,0.1);
      transform: scale(1.5);

      .text {
        position: absolute;
        top: 18px;
        right: 120%;
        display: block;
      }
    }
  }
}